[submodule "projet-isa-devops-20-team-b-20-statistics-component"]
	path = projet-isa-devops-20-team-b-20-statistics-component
	url = https://github.com/pns-isa-devops/projet-isa-devops-20-team-b-20-statistics-component.git
